.headerPage {
    background: #337ab7;
    color: white;
    padding: 5px;
    width: 100%;
    display: block;
    font-size: 25px;
    margin-bottom: 15px;
    padding: 10px;
}

.footer {
    height: 25px;
    text-align: center;
    background-color: #337ab7;
    color: white;
    position: absolute!important;
    bottom: 0;
    font-size: 10px;
    padding: 5px;
}

.form-group label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
