<!DOCTYPE html>
<html lang="en">
<head>
    <title>YOLCU.COM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>


    <script src="scripts/index.js"></script>

    <link rel="stylesheet" type="text/css" href="styles/yolcu.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">

</head>
<body>



<div ng-app="myApp" ng-controller="customersCtrl">

    <div class="row">
        <div class="col-sm-12">
            <span class="headerPage">Havaalanı Hizmeti</span>
            <p>Şehirlere göre havalimanlarını listeyelebilir ve listeden çıkarabilirsiniz.</p>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label>Şehir Seçiniz:
                    <select style="margin:0px 10px;" class="form-control"
                            ng-model="selectedData"
                            ng-options="data.main.name for data in data | orderBy: 'main.name' | filter: '!null'">
                    </select>
                </label>
                <button ng-click="deleteMainItem()" class="btn btn-primary">Şehiri Sil</button>
            </div>
        </div>

        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Şehir</th>
                    <th>Havalanı Adı</th>
                    <th>İşlem</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in selectedData.childs">
                    <td>{{ data.id }}</td>
                    <td>{{ data.city }}</td>
                    <td>{{ data.name }}</td>
                    <td>
                        <button ng-click="deleteChildItem($index)" class="btn btn-primary">Havalimanı Sil</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <footer class="col-sm-12 footer">2017 YOLCU.COM</footer>
</div>
</body>
</html>
